In [5]:
from selenium import webdriver
import pandas as pd
import numpy as np
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

x = 1
i = 1
job_title = []
job_link = []

driver = webdriver.Chrome()
driver.implicitly_wait(20)

url = 'https://www.apple.com/careers/us/'

driver.get(url)
driver.maximize_window()

searchButton = driver.find_element(By.XPATH, "//a[text()='Search']")
searchButton.click()

searchTextBox = driver.find_element(By.XPATH, "//input[@placeholder='Search by role or keyword']")
searchTextBox.send_keys("Software Engineer")
time.sleep(3)

searchTextBox.send_keys(Keys.RETURN)
time.sleep(3)

try:
    
    for x in range(5):
    
        y = 0
        while y != 20:
            title = driver.find_element(By.XPATH, "(//tbody//a[contains(@id,'jotTitle')])[" + str(y + 1) + "]").text
            job_title.append(title)

            link = driver.find_element(By.XPATH, "(//td[@class='table-col-1']//a[@class][@href])[" + str(y + 1) + "]")
            job_link.append(link.get_attribute('href'))
            y = y + 1
        
        driver.find_element(By.XPATH, "//span[@class='next']").click()
        x=x+1
    
except NoSuchElementException:...
    
driver.close()

In [6]:
print(len(job_link), len(job_title))

100 100

In [7]:
df = pd.DataFrame(zip(job_title, job_link))
df.columns = ['Title', 'Link']
df.head()

,Title,Link
0,Software Engineer,https://jobs.apple.com/en-us/details/200462197...
1,AR/VR Software Engineer,https://jobs.apple.com/en-us/details/200408937...
2,Embedded Software Engineer,https://jobs.apple.com/en-us/details/200458501...
3,iOS Software Engineer,https://jobs.apple.com/en-us/details/200391256...
4,RF Software Engineer,https://jobs.apple.com/en-us/details/200449703...

In [8]:
df['Qualifcations'] = np.nan
df.head()

,Title,Link,Qualifcations
0,Software Engineer,https://jobs.apple.com/en-us/details/200462197...,NaN
1,AR/VR Software Engineer,https://jobs.apple.com/en-us/details/200408937...,NaN
2,Embedded Software Engineer,https://jobs.apple.com/en-us/details/200458501...,NaN
3,iOS Software Engineer,https://jobs.apple.com/en-us/details/200391256...,NaN
4,RF Software Engineer,https://jobs.apple.com/en-us/details/200449703...,NaN

In [9]:
driver = webdriver.Chrome()
driver.implicitly_wait(20)

for i in range(len(df['Link'])):

        url = (df['Link'][i])       
        driver.get(url)
        driver.maximize_window()
        time.sleep(3)
        
        qualificationList = driver.find_element(By.XPATH, "(//ul[@class='jd__list'])[1]")
        qualificationsearch = qualificationList.find_elements(By.TAG_NAME, "li")
        df['Qualifcations'][i] = ''

        for y in qualificationsearch:
            df['Qualifcations'][i] = df['Qualifcations'][i]+' '+y.text  
        
        
driver.close()

C:\Users\panad\AppData\Local\Temp\ipykernel_4244\3322259016.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Qualifcations'][i] = ''

In [10]:
df.head()

,Title,Link,Qualifcations
0,Software Engineer,https://jobs.apple.com/en-us/details/200462197...,BS and 3+ years of relevant industry experien...
1,AR/VR Software Engineer,https://jobs.apple.com/en-us/details/200408937...,Familiarity with Virtual Production and/or Vi...
2,Embedded Software Engineer,https://jobs.apple.com/en-us/details/200458501...,"Proficiency in C/C++, some embedded software ..."
3,iOS Software Engineer,https://jobs.apple.com/en-us/details/200391256...,Strong experience writing C++ code in a POSIX...
4,RF Software Engineer,https://jobs.apple.com/en-us/details/200449703...,Minimum BS with 3 + years of relevant industr...

In [7]:
df['Qualifcations'][0]

' To succeed within this role, you should have shown experience in several of the following areas: - 3+ years of hands-on software development experience - Experience designing, developing and maintaining software services or solutions - Strong Object Oriented Programming skills and proficiency in Python or Java - Experience with microservice architecture & developing APIs / RESTful services - Experience with building solutions in the cloud (AWS, GCP, Kubernetes, etc.) - Experience with relational and any NoSQL databases (MongoDB, Cassandra, Redis, etc.) - Familiarity with full stack development, and expertise in Web development frameworks like Django or others - Bonus for experience with distributed systems (Spark, Presto, etc.) - Able to quickly learn new and existing technologies - Bonus for UI/UX development experience - Excellent communication and collaboration skills - Excellent problem solving and analytical thinking skills'

In [11]:
df.isna().sum()

Title            0
Link             0
Qualifcations    0
dtype: int64

In [12]:
df = df.dropna()
len(df)

100

In [13]:
df.sample(5)

,Title,Link,Qualifcations
66,iOS Software Engineer,https://jobs.apple.com/en-us/details/200359707...,Software development experience Development e...
91,"Software Engineer (Swift), Enterprise Systems",https://jobs.apple.com/en-us/details/200446910...,Experience developing macOS/iOS applications ...
6,Embedded Software Engineer,https://jobs.apple.com/en-us/details/200385462...,A genuine interest in device drivers and syst...
89,Software Engineer - Photos Storytelling,https://jobs.apple.com/en-us/details/200460922...,"Excellent analytical, problem solving, interp..."
73,iOS Software Engineer,https://jobs.apple.com/en-us/details/200405522...,Software Engineer with 4+ years of experience...

In [15]:
to_drop = df[df['Qualifcations'] == ''].index
to_drop

Int64Index([], dtype='int64')

In [16]:
df = df.drop(to_drop)
len(df)

100

In [17]:
df = df.reset_index(drop=True)
df.head()

,Title,Link,Qualifcations
0,Software Engineer,https://jobs.apple.com/en-us/details/200462197...,BS and 3+ years of relevant industry experien...
1,AR/VR Software Engineer,https://jobs.apple.com/en-us/details/200408937...,Familiarity with Virtual Production and/or Vi...
2,Embedded Software Engineer,https://jobs.apple.com/en-us/details/200458501...,"Proficiency in C/C++, some embedded software ..."
3,iOS Software Engineer,https://jobs.apple.com/en-us/details/200391256...,Strong experience writing C++ code in a POSIX...
4,RF Software Engineer,https://jobs.apple.com/en-us/details/200449703...,Minimum BS with 3 + years of relevant industr...

In [21]:
df['Company'] = 'Apple'
df = df[['Company', 'Title', 'Link', 'Qualifcations']]
df.head()

,Company,Title,Link,Qualifcations
0,Apple,Software Engineer,https://jobs.apple.com/en-us/details/200462197...,BS and 3+ years of relevant industry experien...
1,Apple,AR/VR Software Engineer,https://jobs.apple.com/en-us/details/200408937...,Familiarity with Virtual Production and/or Vi...
2,Apple,Embedded Software Engineer,https://jobs.apple.com/en-us/details/200458501...,"Proficiency in C/C++, some embedded software ..."
3,Apple,iOS Software Engineer,https://jobs.apple.com/en-us/details/200391256...,Strong experience writing C++ code in a POSIX...
4,Apple,RF Software Engineer,https://jobs.apple.com/en-us/details/200449703...,Minimum BS with 3 + years of relevant industr...

In [23]:
df.to_csv('C:\\Users\\panad\\Desktop\\NLP_CSV_File\\AppleJobs\\apple_jobs.csv')