In [10]:
from selenium import webdriver
import pandas as pd
import numpy as np

In [3]:
x = 1
i = 1
job_title = []
job_link = []

driver = webdriver.Chrome()
driver.implicitly_wait(20)

while x != 0:

    try:
    
        url = 'https://collabera.com/job-search/?sort_by=&industry=&keyword=&location=&Posteddays=0&q='+str(i)

        driver.get(url)
    
        for j in range(1,11):
            title = driver.find_element_by_xpath('/html/body/div[1]/section[3]/div/div/div[2]/div/div[2]/div['+str(j)+']/div/a/h5')
            job_title.append(title.text)

            link = driver.find_element_by_xpath('/html/body/div[1]/section[3]/div/div/div[2]/div/div[2]/div['+str(j)+']/div/a')
            job_link.append(link.get_attribute('href'))    

    except:
        x -= 1
    
    i +=1

driver.close()

In [4]:
print(len(job_link), len(job_title))

1094 1094

In [5]:
df = pd.DataFrame(zip(job_title, job_link))
df.columns = ['job_title', 'job_link']
df.head()

,job_title,job_link
0,Administrative Support,https://collabera.com/job-description/?post=32...
1,Customer Service Representative,https://collabera.com/job-description/?post=32...
2,Graphics Engineer,https://collabera.com/job-description/?post=32...
3,Security Engineer,https://collabera.com/job-description/?post=32...
4,Java Developer,https://collabera.com/job-description/?post=32...

In [6]:
df['job_desc'] = np.nan
df.head()

,job_title,job_link,job_desc
0,Administrative Support,https://collabera.com/job-description/?post=32...,NaN
1,Customer Service Representative,https://collabera.com/job-description/?post=32...,NaN
2,Graphics Engineer,https://collabera.com/job-description/?post=32...,NaN
3,Security Engineer,https://collabera.com/job-description/?post=32...,NaN
4,Java Developer,https://collabera.com/job-description/?post=32...,NaN

In [8]:
# Inconsistant formatting/wording on the job description page.
# I tested getting just the li tags. However, the amount of text is very similar.
# But since some job description pages don't have li tags, those will be missed by the script.
# Therefore, I decided to get the whole text on the job description page. Luckily, the text is not very long on the pgaes.

driver = webdriver.Chrome()
    
for i in range(len(df['job_link'])):
    
    try:
        url = (df['job_link'][i]) 
        driver.get(url)             
        txt = driver.find_element_by_xpath('/html/body/div[1]/section[2]/div/div/div[1]/div[1]/div')
        df['job_desc'][i] = txt.text
              
    except:
        df['job_desc'][i] = np.nan
        
driver.close()

C:\Users\meske\AppData\Local\Temp/ipykernel_11224/3967333228.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_desc'][i] = txt.text

In [13]:
df.to_csv('collabera_jobs.csv')

In [14]:
df.isna().sum()

job_title    0
job_link     0
job_desc     0
dtype: int64

In [15]:
df = df.dropna()
len(df)

1094

In [17]:
df[df['job_desc'] == '']

Empty DataFrame
Columns: [job_title, job_link, job_desc]
Index: []

In [16]:
df.sample(5)

,job_title,job_link,job_desc
468,Regional Sales Manager,https://collabera.com/job-description/?post=29...,Collabera is a leading global digital talent s...
1040,Data Modeler,https://collabera.com/job-description/?post=32...,Lead data modeler to join team of domain data...
1002,Training Coordinator,https://collabera.com/job-description/?post=32...,Responsibilities:\nMaintains positive and coop...
401,Angular Developer,https://collabera.com/job-description/?post=32...,DayToDay Responsbilities:\nFlexibility in adap...
1075,Principal Engineer,https://collabera.com/job-description/?post=32...,7+ years of Engineering experience\nDistribute...

In [18]:
df = df.reset_index(drop=True)
df.head()

,job_title,job_link,job_desc
0,Administrative Support,https://collabera.com/job-description/?post=32...,Note:\nThe position is onsite (No Work from Ho...
1,Customer Service Representative,https://collabera.com/job-description/?post=32...,Urgent Hiring for Customer Service Representat...
2,Graphics Engineer,https://collabera.com/job-description/?post=32...,Responsibilities:\nProduces a variety of marke...
3,Security Engineer,https://collabera.com/job-description/?post=32...,"Responsibilities:\n• Develop DLP policies, res..."
4,Java Developer,https://collabera.com/job-description/?post=32...,Responsibilities:\n· Conduct tasks rel...

In [7]:
df.to_csv('collabera_jobs.csv')

In [8]:
df = pd.read_csv('collabera_jobs.csv', index_col=0)
df.columns = ['TITLE', 'LINK', 'QUALIFICATIONS']
df['COMPANY'] = 'Collabera'
df['DESCRIPTION'] = df['QUALIFICATIONS']
df = df.reindex(columns=['COMPANY', 'TITLE', 'QUALIFICATIONS', 'LINK', 'DESCRIPTION'])
df.head()

,COMPANY,TITLE,QUALIFICATIONS,LINK,DESCRIPTION
0,Collabera,Administrative Support,Note:\nThe position is onsite (No Work from Ho...,https://collabera.com/job-description/?post=32...,Note:\nThe position is onsite (No Work from Ho...
1,Collabera,Customer Service Representative,Urgent Hiring for Customer Service Representat...,https://collabera.com/job-description/?post=32...,Urgent Hiring for Customer Service Representat...
2,Collabera,Graphics Engineer,Responsibilities:\nProduces a variety of marke...,https://collabera.com/job-description/?post=32...,Responsibilities:\nProduces a variety of marke...
3,Collabera,Security Engineer,"Responsibilities:\n• Develop DLP policies, res...",https://collabera.com/job-description/?post=32...,"Responsibilities:\n• Develop DLP policies, res..."
4,Collabera,Java Developer,Responsibilities:\n· Conduct tasks rel...,https://collabera.com/job-description/?post=32...,Responsibilities:\n· Conduct tasks rel...

In [9]:
df.to_csv('collabera_jobs.csv')