In [14]:
from selenium import webdriver
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By

# Get job titles and job description page links

In [15]:
job_title = []
job_link = []



#this url redirects to the page 'https://sjobs.brassring.com/TGnewUI/Search/Home/Home?partnerid=25633&siteid=5439&Codes=BeMore#home'
#url = 'https://sjobs.brassring.com/TGnewUI/Search/Home/Home?partnerid=25633&siteid=5439&Codes=BeMore#keyWordSearch=technology%20or%20software%20engineering%20or%20developer%20or%20azure%20or%20aws&locationSearch='

url = 'https://careers.expediagroup.com/jobs/?&filter[country]=United+States'

driver = webdriver.Chrome()

driver.implicitly_wait(20)

driver.get(url)

In [16]:
x = 1
i = 1

while x == 1:
    try:
    
        next_button = driver.find_element(By.ID,'loadmore')
        next_button.click()

    except:
        print('page',i)
        x = 0 
    i +=1

page 11

In [17]:
TITLE = []
LINK = []

In [18]:
y = 1     
i = 1

while y != 0:
#while i < 3:
    
    y = 2
    
    try:
        j_title = driver.find_element(By.XPATH,'//*[@id="resultslist"]/li['+str(i)+']/a/h3')
        TITLE.append(j_title.text) 
    except:
        TITLE.append('')
        y-=1
    
    try:
        j_link = driver.find_element(By.XPATH,'//*[@id="resultslist"]/li['+str(i)+']/a')
        LINK.append(j_link.get_attribute('href'))
    except:
        LINK.append('')
        y-=1

    i = i+1

In [19]:
print(len(TITLE), len(LINK))

267 267

In [20]:
# convert to dataframe

df = pd.DataFrame(zip(TITLE, LINK))
df.columns = ['TITLE', 'LINK']
df.head()

,TITLE,LINK
0,Software Development Engineer II,https://careers.expediagroup.com/jobs/job/?Sof...
1,Security Compliance Analyst III,https://careers.expediagroup.com/jobs/job/?Sec...
2,Security Compliance Analyst III,https://careers.expediagroup.com/jobs/job/?Sec...
3,Principal Technical Architect - CCOE,https://careers.expediagroup.com/jobs/job/?Pri...
4,Legal Counsel,https://careers.expediagroup.com/jobs/job/?Leg...

In [21]:
df.to_csv('Expedia_title_link.csv')

In [22]:
df = pd.read_csv('Expedia_title_link.csv', index_col=0)
df.head()

,TITLE,LINK
0,Software Development Engineer II,https://careers.expediagroup.com/jobs/job/?Sof...
1,Security Compliance Analyst III,https://careers.expediagroup.com/jobs/job/?Sec...
2,Security Compliance Analyst III,https://careers.expediagroup.com/jobs/job/?Sec...
3,Principal Technical Architect - CCOE,https://careers.expediagroup.com/jobs/job/?Pri...
4,Legal Counsel,https://careers.expediagroup.com/jobs/job/?Leg...

In [34]:
df = df.dropna()
df.isna().sum()

TITLE    0
LINK     0
dtype: int64

In [35]:
df['QUALIFICATIONS'] = np.nan
df['DESCRIPTION'] = np.nan
df.drop_duplicates(subset=['TITLE', 'LINK'])
df.head()
print(len(df))
df.head()

266

,TITLE,LINK,QUALIFICATIONS,DESCRIPTION
0,Software Development Engineer II,https://careers.expediagroup.com/jobs/job/?Sof...,NaN,NaN
1,Security Compliance Analyst III,https://careers.expediagroup.com/jobs/job/?Sec...,NaN,NaN
2,Security Compliance Analyst III,https://careers.expediagroup.com/jobs/job/?Sec...,NaN,NaN
3,Principal Technical Architect - CCOE,https://careers.expediagroup.com/jobs/job/?Pri...,NaN,NaN
4,Legal Counsel,https://careers.expediagroup.com/jobs/job/?Leg...,NaN,NaN

# Get job description data

In [36]:
driver = webdriver.Chrome()
        
for i in range(len(df['LINK'])):

    url = (df['LINK'][i])
        
    driver.get(url)

    try:
        qual = driver.find_element(By.XPATH,'/html/body/main/div[2]/div/div/div[1]/section[3]/div/div/div/div[1]/ul[2]')
        df['QUALIFICATIONS'][i] = qual.text
    except:
        pass
    
    try:
        desc = driver.find_element(By.XPATH,'/html/body/main/div[2]/div/div/div[1]/section[3]/div/div/div/div[1]/ul[1]')
        df['DESCRIPTION'][i] = desc.text
    except:
        pass

driver.close()

C:\Users\meske\AppData\Local\Temp/ipykernel_15012/1236830753.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['QUALIFICATIONS'][i] = qual.text
C:\Users\meske\AppData\Local\Temp/ipykernel_15012/1236830753.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DESCRIPTION'][i] = desc.text

In [37]:
df.sample(5)

,TITLE,LINK,QUALIFICATIONS,DESCRIPTION
219,"Senior Data Engineer, Media Solutions",https://careers.expediagroup.com/jobs/job/?Sen...,Bachelors or Master’s or equivalent technical ...,"Lead, design and develop scalable distributed ..."
251,Transfer Pricing / International Tax Senior An...,https://careers.expediagroup.com/jobs/job/?Tra...,2+ years of progressive transfer pricing and /...,Help advise on transfer pricing and internatio...
97,"Sr. Manager, Talent Strategy and Products Lead",https://careers.expediagroup.com/jobs/job/?Sr....,Bachelor's or Master's degree in related field...,"Collaborate with GTM team to build relevant, h..."
244,Machine Learning Engineer III,https://careers.expediagroup.com/jobs/job/?Mac...,3-5 years or experience in Machine Learning En...,Work in a cross-functional team of Machine Lea...
25,Market Manager - Dallas,https://careers.expediagroup.com/jobs/job/?Mar...,"2+ years of experience in account management, ...",Develop and sustain strong partnerships in a s...

In [38]:
df.to_csv('expedia_jobs_usa.csv')

# Basic Cleaning

In [39]:
df = df.dropna()
len(df)

235

In [40]:
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.lower()
df['DESCRIPTION'] = df['DESCRIPTION'].str.lower()
df = df.drop_duplicates(subset=['TITLE', 'QUALIFICATIONS', 'DESCRIPTION'])
df = df.reset_index(drop=True)
df = df.reindex(columns=['COMPANY', 'TITLE', 'QUALIFICATIONS', 'LINK', 'DESCRIPTION'])
len(df)

104

In [41]:
df['COMPANY'] = 'Expedia'
df.head(5)

,COMPANY,TITLE,QUALIFICATIONS,LINK,DESCRIPTION
0,Expedia,Software Development Engineer II,bachelor's or master’s degree in a technical f...,https://careers.expediagroup.com/jobs/job/?Sof...,collaborate with team members to co-develop an...
1,Expedia,Security Compliance Analyst III,4+ years of experience in information security...,https://careers.expediagroup.com/jobs/job/?Sec...,"write, edit, maintain, and support security po..."
2,Expedia,Principal Technical Architect - CCOE,bachelor's or master's degree in a related fie...,https://careers.expediagroup.com/jobs/job/?Pri...,track developments and changes in core enterpr...
3,Expedia,Legal Counsel,you are a self-starter who is keen to dive int...,https://careers.expediagroup.com/jobs/job/?Leg...,"reviewing, drafting and negotiating agreements..."
4,Expedia,Senior Executive Assistant,"10+ years executive support experience, includ...",https://careers.expediagroup.com/jobs/job/?Sen...,provide comprehensive support services to svp ...

In [42]:
df.to_csv('expedia_jobs_usa.csv')