In [3]:
from selenium import webdriver
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By

In [4]:
# loop doesn't break. Once the pages end, it automatically loads the last page.

x = 1
i = 1

job_title = []
job_link = []

driver = webdriver.Chrome()
driver.implicitly_wait(20)

while x != 0:

    try:
    
        url = 'https://collabera.com/job-search/?sort_by=&industry=&keyword=&location=&Posteddays=0&q='+str(i)
        
        driver.get(url)
    
        for j in range(1,11):
            title = driver.find_element(By.XPATH,'/html/body/div[1]/section[3]/div/div/div[2]/div/div[2]/div['+str(j)+']/div/a/h5')
            job_title.append(title.text)

            link = driver.find_element(By.XPATH,'/html/body/div[1]/section[3]/div/div/div[2]/div/div[2]/div['+str(j)+']/div/a')
            job_link.append(link.get_attribute('href'))    

    except:
        x -= 1
    
    i +=1

driver.close()

In [5]:
print(len(job_link), len(job_title))

1443 1443

In [6]:
df = pd.DataFrame(zip(job_title, job_link))
df.columns = ['TITLE', 'LINK']
df.head()

                      TITLE                                               LINK
0          Business Analyst  https://collabera.com/job-description/?post=33...
1            Tax Accountant  https://collabera.com/job-description/?post=33...
2  AML/Fraud/Claims Analyst  https://collabera.com/job-description/?post=33...
3           Network Analyst  https://collabera.com/job-description/?post=33...
4       Payroll Coordinator  https://collabera.com/job-description/?post=33...

In [7]:
df['QUALIFICATIONS'] = np.nan
df.head()

,TITLE,LINK,QUALIFICATIONS
0,Business Analyst,https://collabera.com/job-description/?post=33...,NaN
1,Tax Accountant,https://collabera.com/job-description/?post=33...,NaN
2,AML/Fraud/Claims Analyst,https://collabera.com/job-description/?post=33...,NaN
3,Network Analyst,https://collabera.com/job-description/?post=33...,NaN
4,Payroll Coordinator,https://collabera.com/job-description/?post=33...,NaN

In [15]:
# Inconsistant formatting/wording on the job description page.
# I tested getting just the li tags. However, the amount of text is very similar.
# But since some job description pages don't have li tags, those will be missed by the script.
# Therefore, I decided to get the whole text on the job description page. Luckily, the text is not very long on the pgaes.

driver = webdriver.Chrome()
    
for i in range(len(df['LINK'])):
    
    try:
        url = (df['LINK'][i]) 
        driver.get(url)             
        txt = driver.find_element(By.XPATH, '/html/body/div[1]/section[2]/div/div/div[1]/div[1]/div')
        df['QUALIFICATIONS'][i] = txt.text
              
    except:
        df['QUALIFICATIONS'][i] = np.nan
        
driver.close()

In [18]:
df['QUALIFICATIONS'][1442]

'Roles & Responsibilities:\n• Developing, maintaining, and managing advanced reporting, analytics, dashboards and other BI solutions.\n• Hands on with Tableau Desktop (dashboard creation, report authoring and troubleshooting, data source management).\n• Performing and documenting data analysis, data validation, and data mapping/design.\n• Fine tuned SQL Queries for maximum efficiency and performance.\n• Reviewing and improving existing systems and collaborating with teams to integrate new systems.\n• Conducting unit tests and developing database queries to analyze the effects and troubleshoot any issues.\n• Creating visualizations for the data extracted with the help of Tableau\n• Managing Tableau Server and Administration on Linux Server including Tableau server upgrade/installation.\n• Finding the key areas of automation to make the business processes smooth\n\nRequired Skills:\n• 10+ years of experience in enterprise BI development\n• 7 years of hand on experience with Tableau\n• Experience in relational databases Oracle, Sybase, MongoDB experience in managing unstructured data\n• Experience in managing and implementing successful projects\n• Working knowledge of consulting/project management techniques/methods\n• Ability to work under pressure and manage deadlines or unexpected changes in expectations or requirements\n• Strong Analytical and communication skills\n\nDesired Skills:\n• Analytics using BigData is a plus\n• Knowledge and hands-on experience with TabPy and Data Management Addon is Plus.\n• Experience in working within an Agile development methodology is a plus\n '

In [19]:
df.to_csv('collabera_jobs.csv')

In [20]:
df.isna().sum()

TITLE             0
LINK              0
QUALIFICATIONS    2
dtype: int64

In [21]:
df = df.dropna()
len(df)

1441

In [22]:
df[df['QUALIFICATIONS'] == '']

Empty DataFrame
Columns: [TITLE, LINK, QUALIFICATIONS]
Index: []

In [7]:
df.to_csv('collabera_jobs.csv')

In [25]:
df['COMPANY'] = 'Collabera'
df['DESCRIPTION'] = df['QUALIFICATIONS']
df = df.reindex(columns=['COMPANY', 'TITLE', 'QUALIFICATIONS', 'LINK', 'DESCRIPTION'])
df = df.reset_index(drop=True)
df.head()

,COMPANY,TITLE,QUALIFICATIONS,LINK,DESCRIPTION
0,Collabera,Business Analyst,We are seeking a Financial Markets professiona...,https://collabera.com/job-description/?post=33...,We are seeking a Financial Markets professiona...
1,Collabera,Tax Accountant,Position Details:\nClient: Banking\nRole: Tax ...,https://collabera.com/job-description/?post=33...,Position Details:\nClient: Banking\nRole: Tax ...
2,Collabera,AML/Fraud/Claims Analyst,Position Details: \nClient - Banking\nRole – A...,https://collabera.com/job-description/?post=33...,Position Details: \nClient - Banking\nRole – A...
3,Collabera,Network Analyst,Requirement: \nProvide Tier I Technical Suppor...,https://collabera.com/job-description/?post=33...,Requirement: \nProvide Tier I Technical Suppor...
4,Collabera,Payroll Coordinator,Note:\nThe position is Hybrid (3 Day in office...,https://collabera.com/job-description/?post=33...,Note:\nThe position is Hybrid (3 Day in office...

In [26]:
df.to_csv('collabera_jobs.csv')